<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/ >
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= __("title") %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">

    <div class="row text-center">
        <h2>About</h2>
        <!--<h3><%= __("index.h31") %></h3>-->
        <!--<p><%= __("index.p1") %></p>-->

    <p><a href="/login" class="btn btn-default"><%= __("login") %></a>
    <!--<a href="/signup" class="btn btn-default"><%= __("signup") %></a></p>-->
    <p></p>
    <!--<p><a href="/?lang=<%= __("lnghref") %>"><%= __("lng") %></a></p>-->
    </div>

</div>
</body>
</html>
